* {
	font-family: Arial, sans-serif;
	background-color: #fafafa;
}

.welcome-message {
	font-size: 24px;
	font-weight: bold;
}

#signup-message {
	font-size: 16px;
}

/* .user-actions {
    display: inline;
} */

.error {
	color: red;
}

.success {
	color: green;
}
