
body {
	font-family: Arial, sans-serif;
	margin: 10;
	padding: 10;
	background-color: #fafafa;
}

.post-img {
	border-radius: 5px;
	width: 200px;
	height: 250px;
}

#profile-pic-display {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-header span {
    margin-right: 10px;
}