<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <h1>Login Here</h1>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    {% for message in messages %}
        <h4 class="error-message">{{message}}</h4>
    {% endfor %}

</head>
<body>
    <form method="POST" action="login">
        {% csrf_token %}
        <p>Email or Username: </p>
        <input type="text" name="identifier">
        <p>Password: </p>
        <input type="password" name="password">
        <br><br>
        <input type="submit">
    </form>

    <br><a class="homepage" href="/">Home</a>
</body>
</html>