<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</head>
<body>
    <img id="profile-pic-display" src="{{ user_profile.pfp.url }}" alt="Profile Picture">
    <h4>{{ user_profile.user.username }}</h4>
    <p><i>{{ user_profile.description }}</i></p>
    
    <br><div class="profile-header">
        <span>Posts: {{ user_profile.posts.count }}</span>
        <span>Followers: {{ user_profile.followers.count }}</span>
        <span>Following: {{ user_profile.following.count }}</span>
    </div><br>

    {% if user_profile.user == user %}
        <br><button class="edit-profile">Edit profile</button><br><br>
    {% else %}
        <br><button class="follow_button">Follow</button><br><br>
    {% endif %}

    <div id="edit-form" style="display: none;">
        <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' user_profile.user.username %}">
            {% csrf_token %}
            Profile Picture: 
            <br><img src="{{ user_profile.pfp.url}}" width="100px" height="100px"><br>
            <input type="file" name="new-pfp" accept="image/*"><br>
            Firstname: <input type="text" name="new-firstname" value="{{ user_profile.user.first_name }}"><br>
            Lastname: <input type="text" name="new-lastname" value="{{ user_profile.user.last_name }}"><br>
            Username: <input type="text" name="new-username" value="{{ user_profile.user.username }}"><br>
            Bio: <input type="text" name="new-description" value="{{ user_profile.description }}"><br><br>
            <button id="save-profile">Save</button><br><br>
        </form>
    </div>    

    <h2>Posts</h2>
    <hr>
    <br>
    {% for post in user_profile.posts.all %}
    <img class="post-img" src="{{post.image.url}}">
    <p>{{post.caption}}</p>
    {% endfor %}

    <br>
    
    <a class="homepage" href="/">Home</a>
    
</body>
</html>