<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</head>
<body>
    <img id="profile-pic-display" src="{{ profile.pfp.url }}" alt="Profile Picture">
    <h4>{{ profile.user.username }}</h4>
    <p><i>{{ profile.description }}</i></p>
    
    <br><div class="profile-header">
        <span>Posts: {{ profile.posts.count }}</span>
        <span id="followers-count">Followers: {{ profile.followers.count }}</span>
        <span id="following-count">Following: {{ profile.following.count }}</span>
    </div><br>

    {% if profile.user == user %}
        <br><button class="edit-profile">Edit profile</button><br><br>
    {% else %}
        {% csrf_token %}
        <br><button class="follow-button" data-other-profile="{{ profile.user }}">
            {% if is_following %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button><br><br>
    {% endif %}

    <div id="edit-form" style="display: none;">
        <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' profile.user.username %}">
            {% csrf_token %}
            Profile Picture: 
            <br><img src="{{ profile.pfp.url}}" width="100px" height="100px"><br>
            <input type="file" name="new-pfp" accept="image/*"><br>
            Firstname: <input type="text" name="new-firstname" value="{{ profile.user.first_name }}"><br>
            Lastname: <input type="text" name="new-lastname" value="{{ profile.user.last_name }}"><br>
            Username: <input type="text" name="new-username" value="{{ profile.user.username }}"><br>
            Bio: <input type="text" name="new-description" value="{{ profile.description }}"><br><br>
            <button id="save-profile">Save</button><br><br>
        </form>
    </div>

    <h2>Posts</h2>
    <hr>
    <br>

    {% for post in posts %}
        <img class="post-img" src="{{ post.image.url }}">
        <p>{{ post.caption }}</p>
        <h5 class="likes-display">Likes: <span id="likes-count-{{ post.id }}">{{ post.likes.count }}</span></h5>
        {% csrf_token %}
        <button class="like-button" data-post-id="{{ post.id }}">
            {% if post.is_liked %}
                Unlike
            {% else %}
                Like
            {% endif %}
        </button>
        <br><br>
    {% endfor %}

    <br>
    
    <a class="search" href="/search/">Search</a>
    <div class="search-bar" style="display: none;">
        <form method="GET" action="{% url 'search' %}">
            <br><input type="text" name="search_result" id="search-input" placeholder="Search">
        </form>
    </div>

    <br><a class="homepage" href="/">Home</a>
</body>
</html>